.summary-table{
  width: 83%;
  border-collapse: collapse;
  font-size: 19px;
  text-align: center;
  margin-left: 8.25%;
  margin-bottom: 10%;
  line-height: 28px;
  font-family: "Outfit", sans-serif;
}


.summary-table-header {
  background-color: #707070;
  color: white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  border: #2d2d2d 2px solid;
}
.summary-table-border {
  border: #bcbcbc 1.8px solid;
}

.inside-right {
  border-right: #bcbcbc 1.8px dashed;
}