#root {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}


/*Styles for SubTabs component*/
.analysis-folder {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  padding: 20px;
}

.tab-header {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tab-btn {
  background: none;
  border: none;
  padding: 5px 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
  margin-top: -10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  font-family: "Outfit", sans-serif;
}

.tab-btn:hover {
  color: #ff0000;

}

.tab-btn.active {
  border-bottom-color: #ff0000;
  font-weight: 800;
  font-style: italic;
  color: #ff0000;
  font-size: 18px;
  text-shadow: 0 0 4px rgba(255, 41, 41, 0.3);
}

.tab-content {
  flex: 1;
  padding: 10px 0;
}



/* Styles for Arsenal Tab */
/* Container for entire component */
.arsenal-overview-container {
  padding: 20px;
  font-family: sans-serif;
}

/* Title */
.arsenal-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Main two-column layout */
.arsenal-main {
  display: flex;
  gap: 24px;
}

/* Left column: scatter plot, table  */
.arsenal-left {
  flex: 0 0 45%;
}

/* Right column: heatmaps  */
.arsenal-right {
  flex: 0 0 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 6px;       /* smaller vertical spacing */
  column-gap: 10px;   /* keep horizontal spacing */
  margin-left: 1%;
}
/* Individual pitch heatmap card */
.pitch-heatmap-card {
  border: 1px solid #e9e9e9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding-top: 20px;
  padding-bottom: 0px;
  width: 85%;
  height: 70%;
  text-align: center;
  align-items: center;

}

/* Pitch heatmap title */
.pitch-heatmap-title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 5px;;
    margin: 0;
  padding: 0;
    margin-bottom: 12px;

  text-align: center;
  color: #000000;
  font-style: italic;
  font-family: "Outfit", sans-serif;
}

/* No data text */
.no-data-text {
  color: #888;
}

.button-groups {
  white-space: nowrap;        
  margin-bottom: 15px;
}

.button-groups > div {
  display: inline-block;      
  vertical-align: middle;   
  margin-right: 5%;        
}


.loading-text {
  font-style: italic;
  color: transparent;
  background: linear-gradient(
    90deg,
    #5d5d5d 0%,
    #c5c5c5 40%,
    #dcdcdc 50%,
    #c5c5c5  60%,
    #5d5d5d 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmer 4s linear infinite;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 20px;
   white-space: nowrap;
  overflow: visible;
  text-overflow: unset;
  line-height:100px;
  font-family: "Outfit", sans-serif;


}

@keyframes shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}
